<!-- <p [class.boldClass]="isboldclass">This is Class Binding Component</p> -->
<!-- <p [class]="strCls">This is Class Binding Component</p> -->
<!-- <p [class]="objCls">This is Class Binding Component</p> -->
<!-- <p [class]="getClass()">This is Class Binding Component</p> -->
<!-- <p [class]="arrCls">This is Class Binding Component</p> -->

<!-- <button (click)="changeStatus()" >Click</button> -->

<P [ngClass]="arrCls" >This is class binding</P>

<button (click)="changeStatus()" >Click</button>